$text-color: #696969;
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}
body {
    background-color: #eaeaea;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-body {
    background-color: #fafafa;
    height: 78vh;
    width: 50vw;
    border-radius: 30px 0 0 30px;
}
.sidebar {
    background-color: #f6f6f6;
    height: 78vh;
    width: 35vw;
    border-radius: 0 30px 30px 0;
}
.info {
    display: flex;
    h4 {
        width: 50%;
        margin: 30px 0 0 50px;
        font-size: 20px;
        font-weight: 500;
    }
}
.temp-area,
.condition {
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp {
    font-size: 180px;
    color: $text-color;
    font-weight: 500;
    margin-right: 20px;
}
.condition {
    font-size: 30px;
    color: $text-color;
    font-weight: 500;
}
.forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
    .day {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        width: 100px;
        height: 90px;
        border-radius: 10px;
        margin-right: 20px;
        border: 1px solid transparent;

        h4 {
            font-size: 20px;
            font-weight: 500;
            color: $text-color;
        }
        p {
            font-size: 15px;
            font-weight: 500;
            color: $text-color;
            text-align: center;
            text-transform: capitalize;
        }
    }
    .day:hover {
        border: 1px solid #696969;
    }
}
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 15px;

    input,
    button {
        width: 200px;
        border-radius: 5px 0 0 5px;
        border: 2px solid #696969;
        padding: 5px;
    }
    input:focus {
        outline: none;
        border: 2px solid black;
        border-radius: 5px 0 0 5px;
    }
    button {
        width: 50px;
        border-radius: 0 5px 5px 0;
        border-left: none;
        background-color: #f6f6f6;
        color: #696969;
    }
    button:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
}
.suggestion-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.suggested-city {
    position: absolute;
    z-index: 3;
    background-color: #f6f6f6;
    width: 200px;
    height: auto;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #696969;
    margin-left: -50px;
    margin-top: 90px;
    text-align: left;
}
.btn-city {
    font-size: 15px;
}
.suggested-city:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.time {
    text-align: center;
    margin: 30px;
}
.temp-sidebar {
    font-size: 50px;
}
.extra-info-sidebar {
    font-size: 15px;
}
.feels-like {
    font-size: 15px;
    text-align: center;
    color: #696969;
    font-weight: 500;
    margin: 10px 0;
}
.condition-sidebar {
    font-size: 20px;
    font-weight: 500;
}
.hourly-forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
    flex-wrap: wrap;
    h3 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 400;
    }
    h4,
    p {
        margin-top: 10px;
    }

    div {
        text-align: center;
        width: 20%;
        height: auto;
        border: 1px solid #696969;
        border-radius: 10px;
        margin-right: 5%;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}
