*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Be Vietnam Pro", sans-serif;
}
.head{
    text-align: center;
    padding: 20px 20px;
    background-color: #E5E7EB;
    height: 12vh;
}
.head p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}
.head h2{
    font-size: 32px;
    font-weight: 700;
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
td{
    text-align: center;
    padding: 10px 35px;
}
th{
    text-align: left;
    padding: 0 10px 0 10px;
    background-color: #E5E7EB;
}
table, td, th{
    border-bottom: 1px solid #4D556233;
    border-collapse: collapse;
    
}
.table button{
    background-color: transparent;
    border: none;
    color: #3662E3;
}
.first-row th, .last-row th, .first-row td, .last-row td{
    background-color: transparent;
    border: none;
}
table{
    border: none;
}
td:nth-child(4){
    background-color: #121826;
    color: white;
}
td:nth-child(4) button{
    background-color: #3662E3;
    color: white;
    padding: 3px 10px;
    border-radius: 30px;
}
.first-row h1{
    margin: 6px 0;
}
.first-row td:nth-child(4){
    border-radius: 10px 10px 0 0;
}
.last-row td:nth-child(4){
    background-color: #E9A23B;
    border-radius: 0 0 10px 10px;

}
.last-row td:nth-child(4) button{
    background-color: transparent;
}
@media screen and (max-width: 640px){
    .table{
        overflow: hidden;
    }
    td:nth-child(2), td:nth-child(3){
        display: none;
    }
    td{
        padding: 10px 10px;
    }
    table{
        width: 90%;

    }
    th{
        width: 30%;
    }
    th{
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}
}